@use "partial";

$margin: 10px;
$padding: 10px;
h1 {
  font-size: 2em;
  margin-bottom: $margin * 2;
  text-align: center;
}

main.principal {
  font-family: "Montserrat";

  nav {
    a {
      padding: $padding * 2 $padding * 4;
      text-decoration: none;
      margin-top: $margin * 1.5;
      margin-right: $margin * 1.5;
      display: inline-block;
      border-radius: 6px;
      font-size: 1.2em;
      color: partial.color(primary-dark);
      background-color: white;
      border: 2px solid partial.color(primary-dark);
    }
    a.active-menu {
      color: white;
      background-color: partial.color(primary-dark);
    }

    a:hover {
      color: white;
      background-color: partial.color(primary-dark);
      border: 2px solid partial.color(bright-orange);
    }
    a:hover.active-menu {
      color: white;
      background-color: partial.color(primary-dark);
      border: 2px solid partial.color(primary-dark);
    }
  }
}
