@use "../partial";

$padding: 20px;

h3 {
  text-align: center;
  font-size: 2em;
}

.container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;

  a,
  a:active,
  a:visited,
  a:link {
    text-decoration: none;
    color: white;

    .module {
      padding: $padding;
    }
  }

  .item {
    background-color: partial.color(primary);
    margin-right: $padding;
    margin-bottom: $padding;
    text-align: center;
    border-radius: $padding;
    text-decoration: none;
  }
}
